
/*Navigation bar design*/
.navbar-toggler{
    background-color: white;
  }


.navbar {
    background-color: #141e61;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar-brand img {
    width: 140px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-nav li:hover {
    background-color: rgb(80, 80, 155);
   

}

.nav-link {
    padding: 0 0 0px 10;
}

/*Search bar design*/
input[type= "text"] {
    border-radius: 25px 25px 25px 25px;
    border: none;
    outline: none;
    padding: 0 25px;
}


/*Class designs*/
.first{
    padding-top: 3%;
    padding-left: 7%;   
}

.second {
    margin-top: 5%;
    margin-bottom: 5%;
    background: rgba(242, 242, 242, 1);
   
}

.second-s{
    padding-top: 2%;
    padding-left: 10%;
    padding-bottom: 2%;
    column-gap: 100px;
}

.card {
    width:300px;
}

.card-body {
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 280px;
}

.row {
    margin-left: 8%;
    margin-right: 10%;
 
 }

 .third-s {
    margin-left: 10%;
    margin-bottom: 5%;
}



/*Id and single designs*/
#about {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    
}

#gamerpic img {
    width: 100%;
    max-width: 550px;
    height: auto;
}
 
#getstarted {
    font-size: 20px;
    font-weight: lighter;
}


#left-open {
    padding-right: 100px;
    padding-bottom: 10px;
}

#left-descript {
    text-align: justify;
}

#third {
    background-color: rgb(255, 255, 255);
}

/*General Design*/
h1 {
    font-size: 44px;
    font-weight: bold;
}

h2 {
    text-align: center;
}


header {
    background: #141e61;
}



/*Card*/


/*footer*/
footer {
    background-color: #141e61; 
    color: aliceblue;

 
}

.footer-bleep {
    justify-content: center;
    background-color: #141e61;  
    padding: 2%;
}

#row3 {
    padding-left: 150px;
}


#signup {
    background-color: rgba(60, 100, 177, 1);
}